


.footer{
    width: 100%;
    background-color:#254857 ;
    height: 60px;
    
  
}
h4{
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgb(143, 141, 139);
    padding-top: 10px;
    
   
}
